<!DOCTYPE html>
<html lang="es-MX">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Susan Mostrar</title>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="resource/css/index.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
        integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
    <script src="https://kit.fontawesome.com/ad366309d8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
</head>
<header>
    <br>
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-md-1 pos_logo">
                <img src="resource/css/LOGO_SUSAN.png" alt="logo" width="60">
            </div>
            <div class="col-md-1 microfono">
                <button type="button" class="btn btn-primary"><i class="fas fa-microphone"></i></button>

            </div>
            <div class="col-md-10 progress_bar">
                <div class="text_presentation" id="texto">.</div>
            </div>
        </div>
    </div>

</header>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 ">
                <div class="contendor_btns">
                    <div class="encavezado_contenedor">
                        <i class="fas fa-cogs"></i>
                    </div>
                    <h5>Herramientas</h5>
                    <p class="fin_encavezado">Utiliza estas herramientas para <br>personalizar Susan</p>


                    <div class="btn_body">
                        <i class="fas fa-edit icon_edit"></i>
                        <a href="/ingresar">Ingresar comandos</a>
                    </div>


                    <div class="btn_body">
                        <i class="fas fa-box icon_edit"></i>
                        <a href="/mostrar">Visualizar Comandos</a>
                    </div>


                    <div class="btn_body">
                        <i class="fas fa-atlas icon_edit"></i>
                        <a href="/interactivo">Comandos interactivos</a>
                    </div>



                </div>



            </div>
            <div class="col-md-9">
                <div>
                    <i class="fas fa-search icon_search"></i>
                    <input type="text" class="filtrar" id="filtrar" onclick="Filtrar()" onblur="Filtrar()">

                </div>
                <a href="/mostrar" class="btn btn-success">Comandos Basicos</a>
                <a href="/interactivo" class="btn btn-outline-primary mt-4"><i class='bx bx-plus-circle bx-md'></i></a>
                <div class="table-wrapper-scroll-y my-custom-scrollbar">
                    <table class="table table-bordered text-center table-striped mb-0">
                        <thead>
                            <tr class="bg-secundary text-white">
                                <th scope="col">Comando</th>
                                <th scope="col">Respuesta</th>
                                <th scope="col">Acción</th>
                                <th scope="col">-</th>
                            </tr>
                            <tbody>
                                <% results1.forEach((user)=> { %>
                                <tr>
                                    <td class="bg-secondary"><%= user.entradai%></td>
                                    <td class="bg-secondary"><%= user.salidai%></td>
                                    <td class="bg-secondary"><%= user.pagina%></td>
                                <td>    <a href="/deleteinter/<%= user.entradai%>" class="btn btn-outline-danger">Borrar</a>
                                    </td>
                                </tr>   
                                <% }) %>
                                
                            </tbody>
                        </thead>
                    </table>
                </div>

            </div>
        </div>

    </div>



</body>

</html>